@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .align-element {
    @apply mx-auto max-w-6xl px-8;
  }
}